@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("/public/fonts/webFonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("/public/fonts/webFonts/Vazirmatn[wght].woff2")
      format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}
